<ul id="breadcrumbs">
  <li>
        <%= link_to "Главная", universities_path %>
  </li>
  <li>
        <%= link_to t("help"), faqs_path %>
  </li>
</ul>
<h2>Помощь</h2>
<div class="faq-block">
  <h3>Общие вопросы</h3>
  <ol>
    <% @faqs.each do |f| %>
      <li>
         <h4><%= f.question %></h4>
         <div class="gray-box"><%= simple_format(f.answer) %></div>
      </li>
    <% end %>
  </ol>
</div>
