.bundle
db/*.sqlite3
.rvmrc
*.swp
*.swo
log/*.log
tmp/
nbproject
nbproject/
nbproject/*
Gemfile.lock
config/database.yml
public/assets/*
public/assets
public/zips
db/schema.rb
Gemfile.lock
config/database.yml
db/development_structure.sql
db/sphinx/development/
