.bundle
db/*.sqlite3
.rvmrc
*.swp
*.swo
log/*
tmp/*
nbproject
config/database.yml
public/assets
public/zips
db/development_structure.sql
db/sphinx/*
config/*.sphinx.conf
public/system/logos/*
.rvmrc
public/system
