
  <%= render "stats", :user => user %>


<% if user == current_user %>
  <!-- LEGEND START -->
  <div class="yellow-notification notification closable legend">
    <a class="close icon"></a>
    <div>
      <h4>Действия</h4>
      <ul>
        <li>
          Редактировать название и описание
        </li>
        <li>
          Вставить выделенные файлы в эту папку
        </li>
        <li>
          Скачать (можно применять для нескольких выделенных файлов)
        </li>
        <li>
          Создать папку
        </li>
        <li>
          Добавить файлы со своего компьютера
        </li>
        <li>
          Удалить (можно применять для нескольких выделенных файлов)
        </li>
        <li>
          Развернуть всё дерево вкладок
        </li>
        <li>
          Добавить предмет
        </li>
        <li>
          Файлы и папки можно перетаскивать мышкой, схватив их за иконку (можно применять для нескольких выделенных файлов)
        </li>
        <li>
          Чтобы выделить несколько  файлов нажмите на них правой кнопкой мыши
        </li>
      </ul>
    </div>
  </div>
  <!-- LEGEND END -->

  <%= render "shared/news", :news => @news %>

<% else %>

  <%= link_to "Написать в личку", new_discussion_path(:id => @user.id), :class => "button blue-button", :id => "pmme" %>

<% end %>
