<p class="gray-box clearfix">
  Рейтинг:
  <span style="float: right;"><%= user.raiting %></span>
</p>

<div class="place clearfix">
  <span>
    <span>место</span>
    <b>12</b>
  </span>
  <span>- в общем ТОПе</span>
</div>

<div class="place gray-box clearfix">
  <span>
    <%= image_tag "icons/first-place.png" %>
  </span>
  <span>- в МГУ</span>
</div>

<div class="place clearfix">
  <span>
    <span>место</span>
    <b>143</b>
  </span>
  <span>- в МИЭТ</span>
</div>
