<%= folder.name %>
<ul>
  <% folder.children.each do |node_folder| %>
    <li>
      <%= render "shared/folder", :folder => node_folder %>
    </li>
  <% end %>
</ul>
<ul>
  <% folder.documents.each do |document| %>
    <li><%= truncate(document.name, :length => 42, :omission => "") %></li>
  <% end %>
</ul>

