<div id="footer">
  <div class="wraper">
    <div class="footer">
      <ul>
        <li>
	  <%= link_to 'Обратная связь', new_feedback_path %>
        </li>
	<li>
          <%= link_to t("help"), faqs_path %>
	</li>
	<li>
	  <%= link_to t("novelties"), novelties_path %>
	</li>
      </ul>
    </div>
  </div>
</div>
