<div id="registration-modal">
  <h1>Войти или зарегистрироваться</h1>
  <div class="forms">
    <form action="/" class="registration" method="POST">
      <fieldset>
        <h2>Завести новый аккаунт</h2>
        <p class="name">
	  <label>Имя и фаилия</label><br />
	  <input type="text"/>
	</p>
	<p class="email">
	  <label>Ваш e-mail</label><br />
	  <input type="email"/>
	</p>
	<p class="passwd">
	  <label>Пароль</label><br />
	  <input type="text"/>
	</p>
	<p class="passwd">
	  <label>Подтвердите пароль</label><br />
	  <input type="text"/>
	</p>
	<p class="captcha">
	  <label>Введите слово с картинки</label><br />
	  <input type="text"/>
	  <img src="images/captcha.png" alt="" />
	  <a href="#">Обновить</a>
	</p>
	<p class="remember-me">
	  <input type="checkbox"/>
	  <label>Запомнить меня</label>
	</p>
	<button><img src="images/reg-form-button.png" alt="Войти" /></button>
      </fieldset>
    </form>
    <form action="/" class="login" method="POST">
      <fieldset>
	<h2>Войти</h2>
	<p class="email">
	  <label>Ваш e-mail</label><br />
	  <input type="email"/>
	</p>
	<p class="passwd">
	  <label>Пароль</label><br />
	  <input type="text"/>
	</p>
	<p class="passwd">
	  <label>Подтвердите пароль</label><br />
	  <input type="text"/>
	</p>
	<p class="remember-me">
	  <input type="checkbox"/>
	  <label>Запомнить меня</label>
	</p>
	<a href="#">Востановить пароль</a>
	<p><button><img src="images/login-form-button.png" alt="Войти" /></button></p>
      </fieldset>
    </form>
  </div>
  <a href="#" class="close-modal"><img src="images/close-modal.png" alt="Закрыть" /></a>
</div>