<div class="search-form">
  <div class="search-right-form">
    <div class="search-form-body">
      <div class="search-word">
        <%= t("search") %>
      </div>
      <div class="search-form">
        <form action="/" >
          <input type="text" name="search" placeholder="Введите название ВУЗа или предмета" />
          <button>
            &nbsp;
          </button>
        </form>
        <div class="search-statistic">
          <%= search_statistic %>
        </div>
      </div>
    </div>
  </div>
</div>