<div class="search-form-container">
      <div class="search-word">
        <%= t("search") %>
      </div>
      <div>

        <%= form_tag universities_path, :method => :get, :class => "search-form" do %>
            <%= text_field_tag :search, params[:search], :placeholder =>  "Введите название ВУЗа или предмета", :id => "search" %>
          <button id="search_button" class="button blue-button">
            Найти
          </button>
        <% end %>

        <div class="search-statistic statistics">
          <%= search_statistic %>
        </div>

      </div>
</div>

