<%= render :partial => "search" %>

<% @subjects.each do |subject| %>
  <%= subject.name %>
  <div class="level-1 clearfix node">
    <% subject.folders.top.order(@sort).each do |folder| %>
      <%= render "shared/folder", :folder => folder, :sort => @sort %>
    <% end %>
    <% subject.documents.unfolded.order(@sort).each do |doc| %>
      <%= render 'shared/file_row', :document => doc %>
    <% end %>
  </div>
<% end %>
