.checkbox {
	width: 13px;
	height: 13px;
	padding: 0;
	background: url(icons/checkboxed.png) no-repeat;
	display: block;
	float: left;
        cursor: pointer;
}

select {
  background: none;
  border: none;
  width: 240px;
}

input[type=text], input[type=email], input[type=password], div.fakeshadow {
  padding: 5px;
  height: 18px;
}

div.fakeshadow {
  display: inline-block;
  padding: 3px;
}


input[type=text], input[type=email], input[type=password], div.fakeshadow, textarea {
   background: white;
   -moz-box-shadow: inset 0.9px 1px 3px gray;
   -webkit-box-shadow: inset 0.9px 1px 3px gray;
   box-shadow: inset 0.9px 1px 3px gray;
   border: none;
   border-radius: 3px;
}

.form-list dt, .form-list dd {
  margin-bottom: 12px;
}

.form-list dt {
  float: left;
  width: 120px;
}


.fakeupload {
  display: inline-block;
  width: 360px;
  position: relative;
}

.fakeupload input[type=file] {
  cursor: pointer;
  position: absolute;
  right: 0;
  opacity: 0;
  width: 110px;
}

#logo-previews {
  margin: 12px 0 12px 120px;
}

#logo-previews > img {
  margin-right: 13px;
}
