.checkbox {
	width: 13px;
	height: 13px;
	padding: 0;
	background: url(../images/icons/checkboxed.png) no-repeat;
	display: block;
	float: left;
        cursor: pointer;
}

input[type=text], input[type=email], input[type=password] {
  padding: 5px;
  height: 18px;
}

input[type=text], input[type=email], input[type=password], textarea {
   -moz-box-shadow: inset 0.9px 1px 3px gray;
   -webkit-box-shadow: inset 0.9px 1px 3px gray;
   box-shadow: inset 0.9px 1px 3px gray;
   border: none;
   border-radius: 3px;
}
