/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*
 *
 *
 * FILE TREE */

.level-1 .file-row-rating {width: 30px;}
.level-2 .file-row-rating {width: 40px;}
.level-3 .file-row-rating {width: 45px;}

.level-2, .level-4, .level-5, .level-6, .level-7, .level-3, .level-8 {
  display: none;
  border-radius: 5px;
  clear: both;
  padding-top: 5px;
}

.level-2 {
  border-radius: 2px 2px 5px 5px;
}
.level-2 { background: #eef8fa;}

.level-4, .level-5, .level-6, .level-7, .level-3, .level-8 {
  background: #d2f3f7;
  margin: 6px 0 6px 6px;
  border-radius: 5px 0 0 5px;
}

.level-4, .level-5, .level-6, .level-7, .level-8 {
  margin: 6px 0;
}

.level-4 { background: #c7ebf0; }
.level-5 { background: #b6e0e6; }
.level-6 { background: #a2d8e0; }
.level-7 { background: #8dcdd4; }
.level-8 { background: #66bcc7; }


/* FILE ROW TITLE WIDTHS */
.level-1 .file-row-title { width: 277px; }
.level-1 .folder-row > .file-row-title { width: 305px; }
.level-2 .file-row-title { width: 270px; }
.level-2 .folder-row > .file-row-title { width: 295px; }
.level-4 .file-row-title, .level-5 .file-row-title, .level-6 .file-row-title, .level-7 .file-row-title, .level-8 .file-row-title, .level-3 .file-row-title { width: 284px !important; }

.level-1.my-files .file-row-title { width: 416px; }
.level-1.my-files .folder-row > .file-row-title { width: 445px; }
.my-files .level-2 .file-row-title { width: 407px; }
.my-files .level-2 .folder-row > .file-row-title { width: 435px; }
.my-files .level-3 .file-row-title, .my-files .level-4 .file-row-title, .my-files .level-5 .file-row-title, .my-files .level-6 .file-row-title, .my-files .level-7 .file-row-title, .my-files .level-8 .file-row-title { width: 396px; }


/* FILE ROW TITLE WIDTHS */

.file-row {
  margin-bottom: 2px;
  padding-top: 5px;
  clear: both;
}
    .file-row > span {
      float: left;
      font-size: 1.1em;
      line-height: 18px;
    }

    .file-row.folder-row > span {
      line-height: 24px;
    }

    .file-row-title a {
      text-decoration: none;
      border-bottom: 1px dotted #08C;
    }

    .file-row-rating {
      text-align: right;
      font-size: 1em !important;
      white-space: nowrap;
    }

    .file-row-icons {
      padding-left: 10px;
    }
        .file-row-icons a {
          margin-right: 3px;
        }

    .file-row-actions, .file-row-user, .file-row-date, .file-row-size {
      float: right !important;
      margin: 0 10px;
      text-align: right;
    }

    .file-row-size {
      width: 70px;
    }

    .file-row-user {
      width: 120px;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
    }
      .file-row-user a {
        color: black;
      }

      .file-row-previews {
        clear: both;
        font-size: 1.1em;
      }

/* FILE TREE END */


/*
 *
 * EXPANDER */


  .expander {
    margin: 30px 0;
  }
    .expander-subject {
      margin-top: 20px;
    }
    .expander-header {
      line-height: 54px;
      min-height: 54px;
      padding-left: 25px;
      position: relative;
      box-shadow: 0 0 11px lightgray; /* Параметры тени */
      box-shadow: 0 0 11px rgba(0,0,0,0.2); /* Параметры тени */
      -moz-box-shadow: 0 0 11px rgba(0,0,0,0.2); /* Для Firefox */
      -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.2); /* Для Safari и Chrome */

      background-image: linear-gradient(bottom, #f4f4f4 0%, #fdfdfd 90%);
      background-image: -o-linear-gradient(bottom, #f4f4f4 0%, #fdfdfd 90%);
      background-image: -moz-linear-gradient(bottom, #f4f4f4 0%, #fdfdfd 90%);
      background-image: -webkit-linear-gradient(bottom, #f4f4f4 0%, #fdfdfd 90%);
      background-image: -ms-linear-gradient(bottom, #f4f4f4 0%, #fdfdfd 90%);
      background-image: -webkit-gradient(
      	linear,
      	left bottom,
      	left top,
      	color-stop(0, #f4f4f4),
      	color-stop(0.9, #fdfdfd)
      );
    }

        .expander-header > * {
          float: left;
          margin-right: 10px;
        }
        .expander-header > h4 {
          font-size: 1.2em;
          font-weight: normal;
        }
          .expander-header > h4 a {
            color: #004c62; /* DARK BLUE */
          }
        .expander-header.university > h4 {
          font-size: 1.4em;
          font-weight: bold;
          float: none;
          padding: 18px 0 5px 0;
          margin: 0 70px 0 0;
          line-height: 19px;
        }
          .expander-header.university > h4 a {
            color: #08C;
          }
        .expander-header.university .avatar {
          border: 0; padding: 0;
          margin-top: 12px;
        }
        .expander-header .avatar {
          height: 32px;
          margin-top: 8px;
        }
        .expander-header > .icon {
          margin-top: 20px;
        }
        .expander-header.university > .icon {
          margin-top: 22px;
        }
        .expander-header > .icon.flag2 {
          margin-top: 17px;
        }
        .expander-header.university > .logo {
          margin-top: 15px;
        }

        .expander-actions {
          margin: 0;
          position: absolute;
          height: 16px;
          right: 10px;
          top: 6px;;
        }
        .expander-header > .rating {
          width: 40px;
          white-space: nowrap;
          text-align: right;
        }

    .expander-content {
      border: 1px solid #e7e7e7;
      border-top: none;
      padding: 25px 6px 25px 6px;
    }

    .expander-subject > .gray-box {
      position: relative;
      line-height: 34px;
      font-size: 1.2em;
      padding: 0 0 0 15px;
      margin-bottom: 17px;
      background: #fafafa;
    }
      .expander-subject > .gray-box > .icon {
        margin-bottom: -2px;
      }
      .expander-subject > .gray-box .expander-actions {
        top: 6px;
      }

      .expander .green-button {
        margin-left: 70px;
      }

/* EXPANDER END */




/* FOR PREVIEWS */

.mini-wrapper .level-1 {
  width: 666px;
}

.mini-wrapper .level-1:nth-child(even) {
  background: #f8f9f1;
  padding-top: 6px;
}
.mini-wrapper .file-row-user, .my-files .file-row-user {
  display: none;
}

.mini-wrapper .level-2 { }
.mini-wrapper .level-3 { }
.mini-wrapper .level-4 { }
.mini-wrapper .level-5 { }
.mini-wrapper .level-6 { }
.mini-wrapper .level-7 { }
.mini-wrapper .level-8 { }



.mini-wrapper .level-2, .mini-wrapper .level-4, .mini-wrapper .level-5, .mini-wrapper .level-6, .mini-wrapper .level-7, .mini-wrapper .level-3, .mini-wrapper .level-8 {
  display: block;
  background: white;
}


.file-row.selected {
  background: #ffdc44;
  border-radius: 3px;
}



.mover-checkbox {
  display: none;
}
