<ul class="expanded-subjects-list">
  <li>
  <% universities.each do |univer| %>
        <dl>
          <dt><%= univer.abbreviation %></dt>
          <% if params[:my_files] %>
            <dd><%= link_to univer.name, add_user_university_path(univer), :method => :put %></dd>
          <% else %>
            <dd><%= link_to univer.name, "", :class => "modal-filter univer-filter" %></dd>
          <% end %>
        </dl>
  <% end %>
  </li>
</ul>
