<%= form_for @university, :url => university_path(@university), :html => {:method => :put} do |f| %>
  <%= render 'form', :f => f %>
  <button type="submit" class="button green-button" title="Создать  университет">Сохранить</button>
<% end %>
