<%= render 'shared/sidebar' %>
<div class="content">
  <%= render 'shared/univer-search' %>
  <ul>
  <% @universities.each do |univer| %>
    <li>
      <%= link_to univer.name, documents_path(:university => univer) %>
    </li>
  <% end %>
  </ul>
</div>
